.App-header {
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.showlist {
  max-width: 300px;
}

.showlist li {
  list-style-type: none;
} 

.showlist ul {
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
} 
.showlist li:last-child ul {
  border-bottom: none;
} 

.showlist ul li {
  list-style-type: none;
  padding: 2px 0 2px 0;
} 